

p{
    margin: 100px 150px 100px 80px;
}

div{
    /* margin-top: 60px;
    height: 200px;
    width: 50%;
    background-color: blue; */
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;

}


button{
    /*padding-top: 30px;
    padding-left: 50px;
    margin-top: 1000px; */
    padding: 50px 60px 50px 60px;
    
}

h3{
    /* color: rgb(0, 77, 0) */
    color:#FF00FF;
}

body{
    /* background-color: aqua; */

    background: url("../img/stars.jpg");
}


